{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="h3 mb-4">Nouveau projet</h1>
        <div class="card shadow">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateEcheance) }}
                {{ form_row(form.statut) }}
                {{ form_rest(form) }}
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Créer</button>
                    <a href="{{ path('app_projet_index') }}" class="btn btn-secondary">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
